html {
  font-size: 10px;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.header {
  padding: 20px 0 93px 0;
  background: url("../../../public/images/bg.png") center center/cover no-repeat;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 91px;


  &__icons img {
    width: 13vw;
  }

  &__text {
    font-weight: 500;
    font-size: 1.1rem;
    color: $font-color-white;
    line-height: 25px;

    span {
      font-size: 1.6rem;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & a {
      font-weight: 700;
      font-size: 1.6rem;
      color: $font-color-white;
      text-decoration: none;
    }

    &-button {
      font-size: 1.1rem;
      width: 10vw;
      height: 2vw;
    }
  }
}

.selection {
  display: flex;
  flex-direction: column;

  &__title-big {
    @include title(3.5rem, 700);
    margin-left: auto;
  }

  &__title {
    @include title(2rem, 500);
    margin-left: auto;
    margin-bottom: 60px;
  }

  &__icons {
    display: flex;
    column-gap: 6.3vw;
    margin-left: auto;
    margin-bottom: 60px;

    &:last-child {
      margin-right: 2.4vw;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 2.3vw;
        height: 2.4vw;
      }

      span {
        font-size: 1.3rem;
        font-weight: 500;
        color: $font-color-white;
        text-align: center;
      }
    }
  }

  &__button {
    width: 19.7vw;
    height: 3.5vw;
    font-size: 1.33rem;
    font-weight: 500;
    margin-left: auto;
    margin-bottom: 15px;
  }

  &__link {
    font-size: 1.2rem;
    font-weight: 500;
    color: $font-color-white;
    margin-left: auto;

    a {
      font-size: 1.33rem;
      text-transform: uppercase;
      color: $font-color-white;
    }
  }
}

.advantages {
  padding: 70px 0;
  background-color: #F6F6F6;
  &__title {
    @include title(2.5rem, 500, $color: $font-color-black);
    text-align: center;
    margin-bottom: 60px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
      font-size: 1.8rem;
      font-weight: 700;
      color: $font-color-black;
    }
    &-text{
      text-align: center;
      font-size: 1.4rem;
      line-height: 120%;
      font-weight: 300;
      color: $font-color-black;
    }
    img{
      width: 70px;
      height: 70px;
    }
  }
}


