@import 'blocks/logo.scss';
@import 'blocks/selection.scss';
@import 'blocks/adventages.scss';


html{
  font-size: 10px;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.header {
  padding: 20px 0 93px 0;
  background: url("/images/bg.png") center center/cover no-repeat;
}






