@import 'blocks/logo';
@import 'blocks/selection';
@import 'blocks/adventage';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/slider';
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/address";
@import "blocks/modal";
@import "up_btn";

html{
  font-size: 10px;
  box-sizing: border-box;
}


.container {
  width: 85vw;
  margin: 0 auto;
}

.header {
  padding: 20px 0 93px 0;
  background: url("/images/bg.png") center center/cover no-repeat;
}






